<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CESM2 Scientifically Validated Configurations</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Multi-decadal model runs of given component sets at the target resolution, followed by scientific review of the model output diagnostics" />

    <!-- css -->
    [% INCLUDE 'um/css/css-include.html' %]

    <!-- datatables stylesheet includes -->
    <link href="/includes/um/css/datatables.min.css" rel="stylesheet" />

    <!-- datatables icon stylesheet includes -->
    <!--<link href="/includes/um/css/datatables.icons.css" rel="stylesheet" />-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="/includes/um/js/html5shiv.js"></script>
    <![endif]-->


    <style type="text/css">
    .dtr-details {
        width: 100%;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .dtr-details li {
        margin-bottom: 20px;
    }


    .dtr-title {
        font-weight: bold;
    }


    table.dataTable tbody.tbody-timing td {
    padding: 0px;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"]:hover {
        background-color: #dedede;
        cursor: pointer;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
        height: 14px;
        width: 14px;
        border-radius: 14px;
        line-height: 14px;
        font-size: 14px !important;
        color: white;
        border: 2px solid white;
        box-shadow: 0 0 3px #444;
        box-sizing: content-box;
        text-align: center;
        text-indent: 0 !important;
        content: '+';
        background-color: #337ab7;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before {
        content: '-';
        background-color: #d33333;
    }
    </style>
</head>

<body>
<div id="wrapper">
    <!-- navbar include -->
    [% INCLUDE 'um/includes/header/navbar.html' %]


    <!-- start breadcrumb menu -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="http://www.cesm.ucar.edu/models/">CESM Models</a></li>
                            <li class="breadcrumb-item"><a href="http://www.cesm.ucar.edu/models/current.html">CESM Supported Releases</a></li>
                            <li class="breadcrumb-item"><a href="http://www.cesm.ucar.edu/models/cesm2">CESM2</a></li>
                            <li class="breadcrumb-item active">CESM2 Scientifically Validated Configurations</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- end breadcrumb menu -->



    <!-- content start  -->
    <section id="content">
        <div class="container">

            <div class="d-block d-sm-none">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            Not designed for mobile viewing, please open on a desktop
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="post-image">
                        <div class="post-heading">
                            <h1>CESM2 Scientifically Validated Configurations</h1>
                        </div>
                    </div>

                    <div class="callout-block callout-danger mb-5">
                        <div class="icon-holder">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <div class="content">
                            <h4 class="callout-title">Important</h4>
                            <p>You should use the most recent version of the
                                model that is available unless you are trying to replicate
                                previous results or create a branch run from a previous
                            experiment.</p>
                        </div>
                    </div>

                    <div class="">
                        <p>Scientific validation of CESM consists of a multi-decadal model run of the given component set at the target resolution, followed by scientific review of the model output diagnostics. All scientifically supported component sets are also accompanied by diagnostic and model output data.</p>

                        <p>Component sets and resolutions are backward compatible with all CESM releases. However, newer releases of CESM allow for additional compsets, resolutions and machines.</p>

                        <p>The <a href="http://bb.cgd.ucar.edu">DiscussCESM Forums</a> bulletin board can also provide specific recommendations from the CESM community regarding which release of the model to use for your specific requirements.</p>
                    </div>
                </div>
            </div>


            <!-- wrapper for the loading gif hide/show on page load start -->
            <div class="loading-gif">
                <div class="row">
                    <div class="col">
                        <div class="bg-white text-center rounded mt-3 pb-4">
                            <img src="/images/earth-orbit.gif">
                            <h2>Loading...</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- wrapper for the loading gif hide/show on page load end -->



            <!-- wrapper for the table to hide/show on page load start -->
            <div class="hide-me">
                <!-- buttons to show/hide all row -->
                <div class="row" >
                    <div class="col text-center">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" id="statusBtn-show-all-children">
                                <i class="fa fa-folder-open"></i> Show All
                            </button>
                            <button type="button" class="btn btn-primary" id="statusBtn-hide-all-children">
                                <i class="fa fa-folder-open"></i> Hide All
                            </button>
                        </div>
                    </div>
                </div>

                <table id="statusTable" class="table table-striped table-sm bg-white" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Casename</th>
                            <th>Ensemble Size</th>
                            <th>Simulation Type</th>
                            <th>Model Version</th>
                            <th class="none">Title</th>
                            <th class="none">Data Set Availability</th>
                            <th class="none">Diagnostics Plot Sets</th>
                            <th class="none">Details</th>
                        </tr>
                    </thead>

                    <!--- add the CESM2.0.0 experiments manually here first -->
                    <tbody>
                        [% FOREACH exp IN exps %]
                        <tr>
                            <td>[% exp.casename %]</td>
                            <td>[% exp.ensemble_size %]</td>
                            <td>[% exp.expType_desc %]</td>
                            <td><a href="https://github.com/ESCOMP/cesm/releases/tag/[% exp.model_version %]" target="_blank">[% exp.model_version %]</a></td>
                            <td style="white-space:normal;">[% exp.title %]</td>

                            <!-- Dataset access -->
                            <td>
                                <table class="table table-sm table-striped text-small" >
                                    <thead>
                                        <tr id="details">
                                            <th>Access Type</th>
                                            <th>URL or Path</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th id="details">[% exp.esgf_link_desc %] ([% exp.disk_usage %] Gbytes per ensemble member)</th>
                                            <td><a href="[% exp.esgf_link %]" target="_blank">[% exp.esgf_link %]</a>
                                                [% IF exp.ensemble_size > 1 %]
                                                <p>Ensemble members can be accessed by
                                                    incrementing the "r" value in the r*i*p*f* path value
                                                to correspond to the ensemble number</p>
                                                [% END %]
                                            </td>
                                        </tr>

                                        [% IF exp.cdg_link_count > 0 %]
                                        <tr>
                                            <th id="details">[% exp.cdg_link_desc %]</th>
                                            <td><a href="[% exp.cgd_link %]" target="_blank">[% exp.cgd_link %]</a></td>
                                        </tr>
                                        [% END %]
                                        <tr>
                                            <th id="details">NCAR users<br/>CMIP6 CESM2 native single-variable timeseries files</th>
                                            <td>/glade/collections/cdg/timeseries-cmip6/[% exp.casename %]</td>
                                        </tr>
                                        <tr>
                                            <th id="details">Caseroot files</th>
                                            <td><a href="https://svn-cesm2-expdb.cgd.ucar.edu/public/[% exp.casename %]" target="_blank">https://svn-cesm2-expdb.cgd.ucar.edu/public/[% exp.casename %]</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                            <!-- Diagnostics plot links -->
                            <td>
                                <table class="table table-sm table-striped text-small" >
                                    <tbody>
                                        [% FOREACH diag IN exp.diags %]
                                        <tr>
                                            <th id="details1" colspan="2">[% diag.process %] ([% diag.last_update %])</th>
                                        </tr>
                                        <tr>
                                            <th id="details1">Description</th>
                                            <td>[% diag.description %]</td>
                                        </tr>
                                        <tr>
                                            <th id="details1">Link</th>
                                            <td><a target="_blank" href="[% diag.link %]">[% diag.link %]</a></td>
                                        </tr>
                                        [% END %]
                                    </tbody>
                                </table>
                            </td>

                            <!-- Case details -->
                            <td>
                                <table class="table table-sm table-striped text-small" >
                                    <thead>
                                        <tr id="details2">
                                            <th>Case Field Name</th>		
                                            <th>Field Value</th>		
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th id="details2">Case ID</th>
                                            <td>[% exp.case_id %]</td>
                                        </tr>
                                        <tr>
                                            <th id="details2">Case Name</th>
                                            <td>[% exp.casename %]</td>
                                        </tr>
                                        <tr>
                                            <th id="details2">Component Set</th>
                                            <td><a target="_blank" href="http://www.cesm.ucar.edu/models/cesm2/config/compsets.html">[% exp.compset %]</a></td>
                                        </tr>
                                        <tr>
                                            <th id="details2">Grid Resolution</th>
                                            <td><a target="_blank" href="http://www.cesm.ucar.edu/models/cesm2/config/grids.html">[% exp.grid %]</a></td>
                                        </tr>
                                        <tr>
                                            <th id="details2">Machine:compiler:mpilib</th>
                                            <td><a target="_blank" href="http://www.cesm.ucar.edu/models/cesm2/config/machines.html">[% exp.machine %]:[% exp.compiler %]:[% exp.mpilib %]</a></td>
                                            <tr>
                                                <th id="details2">Last Update</th>
                                                <td>[% exp.last_update %]</td>
                                            </tr>
                                            [% IF exp.expType_id == 1 %]
                                            <tr>
                                                <th id="details2">CMIP6 Experiment</th>
                                                <td><a target="_blank" href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_uid %].html">[% exp.cmip6_name %]</a></td>
                                            </tr>
                                            <tr>
                                                <th id="details2">CMIP6 Experiment Description</th>
                                                <td>[% exp.cmip6_desc %]</td>
                                            </tr>
                                        </tr>
                                        [% END %]
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        [% END %]
                    </tbody>

                    <tfoot>
                        <tr>
                          <th>Casename</th>
                          <th>Ensemble Size</th>
                          <th>Simulation Type</th>
                          <th>Model Version</th>
                          <th class="none">Title</th>
                          <th class="none">Data Set Availability</th>
                          <th class="none">Diagnostics Plot Sets</th>
                          <th class="none">Details</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- wrapper for the table to hide/show on page load end -->

        </div>
    </section>


    <footer>
        <!-- footer include -->
        [% INCLUDE 'um/includes/footer/footer-inc.html' %]
    </footer>
</div>


<!-- javascript include -->
[% INCLUDE 'um/js/js-include.html' %]

<!-- datatables js includes -->
<script src="/includes/um/js/datatables.min.js"></script>

<!-- custom js scripts -->
<script>
    // before the page has been loaded
    $(document).ready(function() {
        var statusTable = $('#statusTable').DataTable({
            "responsive": true,
            "lengthMenu": [ [25, 50, -1], [25, 50, "All"] ],
            "order": [ [ 0, 'asc'] ]
        });

        // Handle click on "Expand All" button
        $('button#statusBtn-show-all-children').on('click', function(){
            // Expand row details
            statusTable.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('button#statusBtn-hide-all-children').on('click', function(){
            // Collapse row details
            statusTable.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });


    // once the window has been loaded start the timers
    $(window).on('load', function() {
        // fade out the loading gif
        $(".loading-gif").fadeOut("slow",function() {
            // once the loading gif is out fade in the table
            $(".hide-me").fadeIn("fast");
        });
    });
</script>
</body>
</html>
